@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --color-one: #1b2028;
  --color-tow: #31353f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}

.grd {
  display: grid;
  grid-template-columns: 1fr;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.center {
  justify-content: center;
  align-items: center;
}
.rem-grid {
  gap: 1rem;
}
.btn-element {
  display: flex;
  width: 42px;
  height: 42px;
  border-radius: 8px;
}
.container {
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 5fr;
}
/* start sidebar */
.sidebar {
  background-color: var(--color-one);
  border-radius: 8px 0 0 8px;
  flex-direction: column;
  justify-content: space-between;
}
.logo {
  color: #fff;
  font-size: 19px;
  font-family: "Inter", sans-serif;
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: 700;
}
ul {
  width: 120px;
  gap: 2rem;
}
ul li {
  display: flex;
  font-size: 14px;
  font-weight: 400;
}
ul li img {
  padding-right: 25px;
}
ul li a {
  padding-top: 2px;
  text-decoration: none;
  color: #9e9e9e;
}

.nav-active {
  background-color: #3a6ff8;
  border-radius: 8px;
  padding: 10px 30px 10px 5px;
}
.nav-active a {
  font-size: 15px;
  font-weight: 700;
  color: #ffff;
}
.sidebar-end {
  margin-bottom: 30px;
}
/* end sidebar */
/* start main-content */

.main-content {
  background-color: var(--color-tow);
  border-radius: 0 8px 8px 0;
  padding: 30px;
}
.topbar {
  align-items: center;
  margin-bottom: 20px;
}
.title {
  color: #fff;
  font-size: 22px;
}
.search {
  width: 400px;
  margin: 0 10px;
}
.search label {
  position: relative;
}
.search label input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: var(--color-one);
  padding: 5px 15px 5px 20px;
  font-size: 14px;
  border: 1px solid var(--color-one);
}
.search label img {
  position: absolute;
  top: -1px;
  right: 10px;
}
.user {
  display: flex;
  gap: 2rem;
}
.user .imgSocial {
  background: var(--color-one);
}
.Box_user {
  background: #9e9e9e;
  margin-right: 20px;
}
.Box_name {
  color: #fff;
  gap: 1rem;
}
.cardBox {
  margin: 50px 0;
  grid-gap: 2rem;
}

.card {
  background-color: var(--color-one);
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.header {
  margin-bottom: 1rem;
}

.circle {
  background-color: var(--color-tow);
}

.text {
  flex-direction: column;
  align-items: flex-start;
}
.header .text p {
  color: #fff;
  font-size: 16px;
}
.header .text span {
  margin-top: 5px;
  font-size: 12px;
  color: #9e9e9e;
  text-transform: uppercase;
}
.content {
  gap: 1rem;
  margin-top: 10px;
}
.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.2rem;
}
.price span {
  color: #fff;
  font-size: 20px;
}
.percentage {
  font-size: 12px;
  color: #00ff00;
}
.negative {
  color: #f46d22;
}

.chartBox {
  display: grid;
  grid-template-columns: 1fr 2.2fr;
  gap: 2rem;
}
.left-box {
  flex-direction: column;
}
.card-viza {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  margin-bottom: 20px;
  background-color: #3a6ff8;
  color: #ffffff;
}
.header-viza p {
  font-size: 15px;
  opacity: 60%;
}
.content-viza {
  text-align: left;
  letter-spacing: 1.8px;
}
.footer-viza {
  text-transform: uppercase;
}
.footer-viza h1 {
  font-size: 20px;
}
.footer-viza p {
  font-size: 13px;
  opacity: 60%;
}
.card-portfolio {
  padding: 1.5rem;
}
.card-portfolio .title {
  font-size: 20px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 2rem;
}
.card-portfolio .header .text p {
  font-size: 15px;
}
.card-portfolio .header .text span {
  font-size: 13px;
}
.card-portfolio .price span {
  font-size: 11px;
}
.card-portfolio .price {
  align-items: end;
  gap: 0.5rem;
}
.portfolio-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.right-box {
  gap: 1rem;
}
.chart-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1rem;
}
.header-chart p {
  font-size: 22px;
  color: #ffffff;
}
.chart-card .botton-chart .box {
  width: 110px;
  height: 38px;
  background-color: var(--color-one);
  border-radius: 5px;
  box-shadow: inset 0 0 1px #9e9e9e;
  padding: 0 3px;
}
.chart-card .botton-chart p {
  font-size: small;
  font-weight: normal;
}
.chart-card .botton-chart .circle {
  width: 40px;
  height: 38px;
}
.chart-card .content-chart .title p {
  font-size: 14px;
  color: #9e9e9e;
}
.chart-card .content-chart .title h5 {
  margin-top: 10px;
  opacity: 0.8;
  text-align: left;
}
.chart-card .content-chart .content-btn a {
  box-shadow: inset 0 0 1px #9e9e9e;
  border-radius: 20px;
  padding: 5px;
  width: 45px;
  color: #fff;
  opacity: 0.8;
  font-size: 10px;
}
.footer-chart {
  display: grid;
  grid-template-columns: 1fr 10fr;
  gap: 1rem;
}
.axis,
.table-header {
  color: #9e9e9e;
}
.box-market {
  box-shadow: inset 0 0 1px #9e9e9e;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: small;
  color: #9e9e9e;
}
.table-header,
.table-row {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
}
.market-table .table-header {
  font-size: 14px;
}
.market-table .table-row {
  color: #b7b9bb;
}
.market-table .table-cell {
  display: flex;
  align-items: center;
  text-align: left;
}
/* end main-content */
